@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Genos&family=Noto+Serif+Georgian:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border-style: none;
}

/* Header */
.header{
    top: 0;
    left: 0;
    background-color:  rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

:root {
    --bar-width: 4.5vw;
    --bar-height: 0.5vw;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 8px;
    --animation-timing: 400ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}
    
.hamburgerMenu {
    --x-width: calc(var(--hamburger-height) * 1.41421356237);
    /* display: flex; */
    display: none;
    flex-direction: column;
    gap: var(--hamburger-gap);
    width: max-content;
    z-index: 2;
    cursor: pointer;
}
    
.hamburgerMenu:has(input:checked) {
    --foreground: white;
    --background: #333;
}
    
.hamburgerMenu:has(input:focus-visible)::before,
.hamburgerMenu:has(input:focus-visible)::after,
.hamburgerMenu input:focus-visible {
    border: 1px solid var(--background);
    box-shadow: 0 0 0 1px var(--foreground);
}
    
.hamburgerMenu::before,
.hamburgerMenu::after,
.hamburgerMenu input {
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: rgb(214, 214, 214);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing),
     rotate var(--animation-timing), translate var(--animation-timing),
     background-color var(--animation-timing);
}
    
.hamburgerMenu input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}
    
.hamburgerMenu:has(input:checked)::before {
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / -2);
}
    
.hamburgerMenu:has(input:checked)::after {
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}
    
.hamburgerMenu input:checked {
    opacity: 0;
    width: 0;
}

.leftNav{
    display: flex;
    padding: 5px 0px;
    align-items: center;
}

.logoImage{
    height: 60px;
    margin: 0 3vw;
}

.navLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}

.inHere{
    color: white;
    text-shadow: 0px 0px 6px rgb(130, 201, 205);
}

.navItem{
    color: white;
}

.navItem,
.inHere,
.signIn,
.signUp{
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 15px;
}

.navItem:hover{
    transition: all 0.3s ease 0s;
    text-shadow: 0px 0px 8px rgb(130, 201, 205);
}

.register{
    margin-right: 3vw;
    display: flex;
    align-items: center;
}

.signIn,
.signUp{
    padding: 1vw 2vw;
    border-radius: 20px;
    margin: 0px 5px;
    transition: all 0.3s ease 0s;
}

.signIn{
    color: white;
    background-color: transparent;
}

.signIn:hover{
    color: black;
    background-color: white;
    transition: all 0.3s ease 0s;
}

.signUp{
    color: black;
    background-color: rgb(255, 236, 31);
}

.signUp:hover{
    transition: all 0.3s ease 0s;
    background-color: white;
}

/* Footer */
.footer{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footerSocmed{
    display: flex;
    background-color: rgb(54, 54, 54);
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 6px;
    padding-top: 9px;
}

.socmedImg{
    padding: 0px 10px;
}

.socmedImg:hover{
    filter: brightness(2);
}

.footerMenu{
    display: flex;
    align-items: center;
    margin: 10px 20px;
}

.footerItem{
    padding: 0px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(97, 97, 97);
    font-size: 16px;
    transition: all 0.3s ease 0s;
    text-align: center;
}

.footerItem:hover{
    transition: all 0.3s ease 0s;
    color: white;
}

.esrbFooter{
    margin: 10px 0px;
    width: 110px;
}

.logoFooter{
    height: 65px;
}

.footerDesc{
    color: white;
    font-size: 12px;
    text-align: center;
    margin: 10px 0px;
}

.companyLogo{
    height: 50px;
    padding: 10px 0px;
}

/* Content */
.container{
    width: 100%;
    height: 100vh;
    animation-name: changeBG;
    animation-duration: 14s;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mapBar{
    display: flex;
    flex-direction: column;
    /* border:  2px solid black; */
    width: 260px;
    left: 0;
}

.mapName{
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 30px;
    transition: all 0.3s ease 0s;
}

.mapTitle{
    font-family: "Genos", sans-serif;
    color: white;
    font-weight: 100;
    font-size: 3vw;
    margin-bottom: 5px;
    transition: padding 0.1s ease-in;
}

.mapTitle.here{
    padding-left: 13px;
}

.mapTitle:hover:not(.here){
    padding-left: 1.23vw;
}

.diamondImg{
    padding: 12px;
}

.diamondImg.half{
    margin-left: -4px;
}

.mapName.here{
    background: linear-gradient(45deg, rgb(142, 125, 62), rgba(139, 129, 92, 0));
}

.mapName.moundstat:hover{
    background: linear-gradient(45deg, rgb(193, 220, 220), rgba(175, 143, 143, 0));
}

.mapName.imazuna:hover{
    background: linear-gradient(45deg, rgb(152, 90, 234), rgba(73, 71, 79, 0));
}

.mapName.sumeru:hover{
    background: linear-gradient(45deg, rgb(69, 183, 117), rgba(44, 199, 110, 0));
}

.imgSlider{
    width: 78vw;
    height: 100vh;
    /* border:  2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.charPart{
    width: 60vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.charPart > input{
    display: none;
}

.slides{
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    /* border:  2px solid red; */
    margin-left: 5vw;
}

.charImg{
    /* border:  2px solid purple; */
    align-self: flex-end;
    width: 450px;
    height: 570px;
    margin-left: 30px;
    margin-right: 10px;
}

.charImg.first{
    margin-left: -60px;
}

.charDesc{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 100px;
}

.charDesc > h1{
    /* border:  2px solid orange; */
    font-family: "Genos";
    color: white;
    font-size: 56px;
    text-shadow: 0px 0px 6px white;
    letter-spacing: 4px;
    margin-bottom: 10px;
}

.charDesc > p{
    background-image: url(../Assets/Diamond.png);
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: 0.8vw 1.6vw;
    border: 2px solid rgb(148, 112, 68);
    background-color: rgb(222, 182, 132);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    width: 300px;
    height: 140px;
    padding: 20px 20px 0px 40px;
    margin-bottom: 20px;
}

.element{
    width: 200px;
}

.avatarImg{
    width: 6vw;
}

.charBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.5));
    margin: 25px 0px;
    width: 7vw;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.charName{
    background-color: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-family: "Genos";
    color: white;
    letter-spacing: 0.5vw;
    padding: 5px 0px;
    font-size: 1.5vw;
    width: 7vw;
}

.navigation-manual{
    height: 100vh;
    padding: 0px 3vw;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 3vw;
}

.charBtn:hover{
    background: rgb(219, 219, 219);
}

#radio1:checked ~ .first{
    margin-left: 63px;
}

#radio2:checked ~ .first{
    margin-left: -790px;
}

#radio3:checked ~ .first{
    margin-left: -1700px;
}

@keyframes changeBG{
    0%{
        background-image: url(../Assets/LueyiMapBlur.jpg);
        background-position: center;
    }
    48%{
        background-image: url(../Assets/LueyiMapBlur.jpg);
        background-position: initial;
    }
    52%{
        background-image: url(../Assets/LueyiMap2Blur.jpg);
        background-position: initial !important;
    }
    100%{
        background-image: url(../Assets/LueyiMap2Blur.jpg);
        background-position: center;
    }
}

@media screen and (min-width: 501px) and (max-width: 890px) {
    /* Header */
    .header{
        height: 70px;
    }

    .logoImage{
        width: 130px;
        height: 50px;
    }

    .hamburgerMenu{
        display: flex;
    }

    .navLinks {
        flex-direction: column;
        transition: translate var(--animation-timing);
        position: absolute;
        translate: 0 -130%;
        padding-left: 20px;
        /* padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem); */
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--background);
        width: 100vw;
        height: 30vh;
    }

    .hamburgerMenu:has(input:checked) + .navLinks {
        translate: 0 20.95vh;
        position: absolute;
    }

    .navItem,
    .inHere{
        font-size: 19px;
        padding: 10px 0px;
    }

    .register{
        position: absolute;
        right: 0;
        top: 17px;
    }

    .signIn,
    .signUp{
        font-size: 19px;
        padding: 1vw 3vw;
    }

    /* Footer */
    .socmedImg{
        padding: 0px 8px;
        height: 30px;
    }
    
    .footerItem{
        padding: 0px 15px;
        font-size: 16px;
    }
    
    .esrbFooter{
        width: 80px;
    }

    .logoFooter{
        height: 50px;
        margin: 0px 20px;
    }
    
    .footerDesc{
        font-size: 11px;
        margin: 10px;
    }

    .companyLogo{
        width: 100px;
        height: auto;
    }
}

@media screen and (max-width: 500px) {
    .header{
        height: 50px;
    }
    
    .logoImage{
        width: 25vw;
        height: 10vw;
    }

    :root {
        --bar-width: 7vw;
        --bar-height: 0.8vw;
    }

    .hamburgerMenu{
        display: flex;
    }

    .navLinks {
        flex-direction: column;
        transition: translate var(--animation-timing);
        position: absolute;
        translate: 0 -130%;
        padding-left: 20px;
        /* padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem); */
        background-color: rgba(0, 0, 0, 0.7);
        color: var(--background);
        width: 100vw;
        height: 30vh;
    }

    .hamburgerMenu:has(input:checked) + .navLinks {
        position: absolute;
        translate: 0 19.25vh;
    }

    .navItem,
    .inHere{
        font-size: 4vw;
        padding: 10px 0px;
    }

    .register{
        position: absolute;
        right: 0;
        top: 11px;
    }

    .signIn,
    .signUp{
        font-size: 4vw;
        padding: 1vw 3vw;
    }

    /* Footer */
    .socmedImg{
        padding: 0px 8px;
        height: 20px;
    }
    
    .footerItem{
        padding: 0px 10px;
        font-size: 10px;
    }

    .footerMenu{
        margin: 10px 5px;
    }
    
    .esrbFooter{
        margin: 7px 0px;
        width: 50px;
    }
    
    .logoFooter{
        height: 30px;
        margin: 0px 10px;
    }
    
    .footerDesc{
        font-size: 8px;
        margin: 10px;
    }
    
    .companyLogo{
        height: 5vh;
        padding: 10px 0px;
    }

    /* Content */
    .container{
        width: 100%;
        height: 100vh;
        animation-name: changeBG;
        animation-duration: 14s;
        animation-iteration-count: infinite;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    .mapBar{
        display: flex;
        flex-direction: row;
        margin-left: 0px;
        width: 100vw;
        justify-content: center;
    }
    
    .mapName{
        left: 0;
        display: flex;
        align-items: center;
        padding: 0px 3vw;
        transition: all 0.3s ease 0s;
    }
    
    .mapTitle{
        font-weight: 100;
        font-size: 5vw;
        font-style: oblique;
        font-weight: 700;
        text-shadow: 0px 0px 4px black
    }
    
    .mapTitle.here{
        padding-left: 0px;
    }
    
    .mapTitle:hover:not(.here){
        padding-top: 1.4vw;
    }
    
    .diamondImg{
        display: none;
    }
    
    .mapName.here{
        background: linear-gradient(0deg, rgb(142, 125, 62), rgba(139, 129, 92, 0));
    }
    
    .mapName.lueyi:hover{
        background: linear-gradient(0deg, rgb(193, 220, 220), rgba(175, 143, 143, 0));
    }
    
    .mapName.imazuna:hover{
        background: linear-gradient(0deg, rgb(152, 90, 234), rgba(73, 71, 79, 0));
    }
    
    .mapName.sumeru:hover{
        background: linear-gradient(0deg, rgb(69, 183, 117), rgba(44, 199, 110, 0));
    }
    
    .imgSlider{
        width: 100vw;
        height: 87vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        overflow: hidden;
    }
    
    .charPart{
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: space-between;
    }
    
    .slides{
        justify-content: space-evenly;
        transition: 0.3s;
        margin-left: 0vw;
        margin-right: 30vw;
    }
    
    .charImg{
        width: 85vw;
        height: 120vw;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .charImg.first{
        margin: 0;
        margin-left: 6vw;
    }
    
    .charDesc{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-top: 0px;
        margin-left: -76vw;
    }
    
    .charDesc > h1{
        font-family: "Genos";
        color: white;
        font-size: 56px;
        text-shadow: 0px 0px 6px white;
        letter-spacing: 4px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .charDesc > p{
        background-size: 3.5vw;
        background-position: 3vw 2vw;
        font-size: 2.7vw;
        width: 70vw;
        height: 20vw;
        padding: 2vw 4vw 0px 9vw;
        margin-bottom: -50vh;
        box-shadow: 0px 0px 6px black;
    }
    
    .element{
        width: 24vw;
    }
    
    .avatarImg{
        width: 15vw;
    }
    
    .charBtn{
        justify-content: space-between;
        margin: 0px 5vw;
        width: 15vw;
    }
    
    .charName{
        letter-spacing: 0.5vw;
        padding: 1vw 0px;
        font-size: 4vw;
        width: 15vw;
    }
    
    .navigation-manual{
        width: 100vw;
        height: 30vw;
        padding: 3vw;
        background-color: rgba(255, 255, 255, 0.2);
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-right: 0vw;
    }
    
    #radio1:checked ~ .first{
        margin-left: 0vw;
    }
    
    #radio2:checked ~ .first{
        margin-left: -108vw;
    }
    
    #radio3:checked ~ .first{
        margin-left: -215vw;
    }
}